@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?enb5r7') format('truetype'),
    url('fonts/icomoon.woff?enb5r7') format('woff'),
    url('fonts/icomoon.svg?enb5r7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_bag_865857_000000:before {
  content: "\e9bf";
}
.icon-menu-mobile:before {
  content: "\e911";
}
.icon-iconmonstr-shopping-cart-6:before {
  content: "\ea9b";
}
.icon-iconmonstr-shopping-cart-8:before {
  content: "\ea9c";
}
.icon-iconmonstr-shopping-cart-9:before {
  content: "\e936";
}
.icon-cart-stock:before {
  content: "\ea8b";
}
.icon-bag-line:before {
  content: "\eaa0";
}
.icon-iconmonstr-favorite-2:before {
  content: "\eaa7";
}
.icon-iconmonstr-phone-9:before {
  content: "\eaac";
}
.icon-iconmonstr-smartphone-3:before {
  content: "\eaad";
}
.icon-iconmonstr-coin-2:before {
  content: "\eaaf";
}
.icon-iconmonstr-coin-3:before {
  content: "\eab0";
}
.icon-noun_419097_cc:before {
  content: "\e925";
}
.icon-iconmonstr-currency-37:before {
  content: "\e928";
}
.icon-iconmonstr-compare:before {
  content: "\eab6";
}
.icon-iconmonstr-delivery-3:before {
  content: "\eab8";
}
.icon-iconmonstr-delivery-5:before {
  content: "\eab9";
}
.icon-iconmonstr-layer-11:before {
  content: "\eac2";
}
.icon-iconmonstr-pen-12:before {
  content: "\e92d";
}
.icon-iconmonstr-lock-6:before {
  content: "\eac4";
}
.icon-iconmonstr-sign-in-thin:before {
  content: "\eacc";
}
.icon-iconmonstr-synchronization-3:before {
  content: "\eacd";
}
.icon-iconmonstr-menu-6:before {
  content: "\ead4";
}
.icon-iconmonstr-task-1:before {
  content: "\ead5";
}
.icon-iconmonstr-edit-11:before {
  content: "\e90d";
}
.icon-iconmonstr-user-circle-thin:before {
  content: "\ead8";
}
.icon-iconmonstr-user-19:before {
  content: "\ead9";
}
.icon-iconmonstr-id-card-5:before {
  content: "\e912";
}
.icon-iconmonstr-user-1:before {
  content: "\eadc";
}
.icon-iconmonstr-home-1:before {
  content: "\eae3";
}
.icon-iconmonstr-gear-2:before {
  content: "\e904";
}
.icon-iconmonstr-generation-1:before {
  content: "\eabb";
}
.icon-iconmonstr-shop-8:before {
  content: "\e998";
}
.icon-noun_Trophy-Vector-Icon_1141816_000000:before {
  content: "\e9ba";
}
.icon-noun_hamburger-menu_931910_000000:before {
  content: "\e9b4";
}
.icon-noun_Arrow_1803897_000000:before {
  content: "\ea92";
}
.icon-noun_Arrow_1803897_0000001:before {
  content: "\e9b1";
}
.icon-noun_lamp_979717_000000:before {
  content: "\e9b2";
}
.icon-noun_Sofa_1395351_000000:before {
  content: "\e9b3";
}
.icon-noun_quote_503188_000000:before {
  content: "\e9af";
}
.icon-noun_Discount_1921326_000000:before {
  content: "\e9ab";
}
.icon-noun-compare:before {
  content: "\e9aa";
}
.icon-noun_user_874866_000000:before {
  content: "\e9a8";
}
.icon-noun_user_874867_000000:before {
  content: "\e9a9";
}
.icon-noun_Running_1869722_000000:before {
  content: "\e9a7";
}
.icon-noun_Weight-Lifting_1715911_000000:before {
  content: "\e9a1";
}
.icon-noun_Basketball_1472339_000000:before {
  content: "\e9a2";
}
.icon-noun_Gym_1209812_000000:before {
  content: "\e9a3";
}
.icon-noun_Shopping-Cart_757317_000000:before {
  content: "\e99e";
}
.icon-cart1:before {
  content: "\e99b";
}
.icon-noun_flame_797130_000000:before {
  content: "\e99a";
}
.icon-noun_bag_1740356_000000:before {
  content: "\e933";
}
.icon-noun_compare_802492_000000:before {
  content: "\e976";
}
.icon-noun_heart_1780102_000000:before {
  content: "\e991";
}
.icon-noun_bag_958239_000000:before {
  content: "\e92b";
}
.icon-noun_right_arrow_1263681_000000:before {
  content: "\e93a";
}
.icon-noun_left_arrow_1263681_000000:before {
  content: "\e963";
}
.icon-noun_up_arrow_1263681_000000:before {
  content: "\e985";
}
.icon-noun_logout_1262654_000000:before {
  content: "\e98a";
}
.icon-noun_logout_1262661_000000:before {
  content: "\e98e";
}
.icon-noun_User_753547_000000:before {
  content: "\e967";
}
.icon-noun_user-edit_753551_000000:before {
  content: "\e978";
}
.icon-noun_delivery_873684_000000:before {
  content: "\e91e";
}
.icon-noun_mail_1707175_000000:before {
  content: "\e982";
}
.icon-noun_newspaper_blog_915757_000000:before {
  content: "\e986";
}
.icon-noun_fashion_1066446_000000:before {
  content: "\e921";
}
.icon-noun_close_1904833_000000:before {
  content: "\e981";
}
.icon-noun_call_1402767_000000:before {
  content: "\e931";
}
.icon-noun_Sync_795699_000000:before {
  content: "\e91b";
}
.icon-noun_grid-view_312060_000000:before {
  content: "\e903";
}
.icon-noun_categories_1721776_000000:before {
  content: "\e90a";
}
.icon-noun_web-browser_1257735_000000:before {
  content: "\e916";
}
.icon-noun_bag_1896247:before {
  content: "\e909";
}
.icon-noun_appliance_1830792:before {
  content: "\e96d";
}
.icon-noun_Sneaker_235904:before {
  content: "\e965";
}
.icon-ampersand-1:before {
  content: "\e901";
}
.icon-edit-heart:before {
  content: "\e930";
}
.icon-checkbox-square-percent:before {
  content: "\e91f";
}
.icon-percent22:before {
  content: "\e932";
}
.icon-iconmonstr-arrow-762:before {
  content: "\e954";
}
.icon-iconmonstr-arrow-763:before {
  content: "\e957";
}
.icon-iconmonstr-arrow-764:before {
  content: "\e959";
}
.icon-iconmonstr-credit-card-5:before {
  content: "\e95d";
}
.icon-iconmonstr-credit-card-6:before {
  content: "\e95f";
}
.icon-iconmonstr-payment-paypal-card-14:before {
  content: "\e961";
}
.icon-iconmonstr-search-10_search:before {
  content: "\e968";
}
.icon-iconmonstr-search-thin:before {
  content: "\e96f";
}
.icon-ionicons_svg_md-log-out:before {
  content: "\e996";
}
.icon-sharp-corners_give_gift:before {
  content: "\e99f";
}
.icon-user3:before {
  content: "\e9a6";
}
.icon-noun_quotes_953503_000000:before {
  content: "\e90b";
}
.icon-star-line:before {
  content: "\e900";
}
.icon-star-fill:before {
  content: "\e902";
}
.icon-shopping-bag:before {
  content: "\eb3c";
}
.icon-np_pictures_3355338_000000:before {
  content: "\eb33";
}
.icon-np_cover_2890331_000000:before {
  content: "\eb34";
}
.icon-np_thumbnails_542995_000000:before {
  content: "\eb35";
}
.icon-np_grid_6369266_000000:before {
  content: "\eb36";
}
.icon-np_grid_3889147_000000:before {
  content: "\eb37";
}
.icon-menu-27:before {
  content: "\eb17";
}
.icon-menu-30:before {
  content: "\eb19";
}
.icon-menu29:before {
  content: "\eb1a";
}
.icon-menu-22:before {
  content: "\eb13";
}
.icon-menu-side-menu-1:before {
  content: "\eb07";
}
.icon-menu-off-canvas-33:before {
  content: "\eb16";
}
.icon-menu-simple:before {
  content: "\eb12";
}
.icon-discount:before {
  content: "\e964";
}
.icon-ribbon-for-an-angle:before {
  content: "\e99d";
}
.icon-ribbon-angle:before {
  content: "\eb18";
}
.icon-ribbon-silhouette:before {
  content: "\e9a4";
}
.icon-sale-tag:before {
  content: "\eb10";
}
.icon-np_tag_3140302_000000:before {
  content: "\eb11";
}
.icon-time-2:before {
  content: "\eb1e";
}
.icon-support-2:before {
  content: "\eb1f";
}
.icon-support1:before {
  content: "\eb20";
}
.icon-time:before {
  content: "\eb1c";
}
.icon-np_map-pin_6324042_000000:before {
  content: "\eb1d";
}
.icon-phone-call-2:before {
  content: "\eb0f";
}
.icon-newsletter_blog_2:before {
  content: "\eb09";
}
.icon-newsletter_blog_1:before {
  content: "\eb0a";
}
.icon-fast-shipping:before {
  content: "\e9c0";
}
.icon-free-shipping:before {
  content: "\e9e2";
}
.icon-standard-shipping:before {
  content: "\e9e3";
}
.icon-mail-plane-send:before {
  content: "\e9e4";
}
.icon-email:before {
  content: "\eb0b";
}
.icon-envelope-mail:before {
  content: "\eaf6";
}
.icon-mail-send-line-1:before {
  content: "\eb05";
}
.icon-mail-send-line-2:before {
  content: "\eb06";
}
.icon-mail-send-line:before {
  content: "\ea18";
}
.icon-newsletter_email_mail:before {
  content: "\eb08";
}
.icon-newsletter_email_mail_1:before {
  content: "\eb0c";
}
.icon-newsletter_email_mail_2:before {
  content: "\eb0d";
}
.icon-newsletter_email_mail_3:before {
  content: "\eb0e";
}
.icon-np_sale_1653232_000000:before {
  content: "\e913";
}
.icon-np_smartphone_6353943_000000:before {
  content: "\eb21";
}
.icon-np_sale_1728231_000000:before {
  content: "\e9bc";
}
.icon-menu-off-canvas:before {
  content: "\eb14";
}
.icon-menu-dropdown-2:before {
  content: "\eaf5";
}
.icon-menu-up:before {
  content: "\eb38";
}
.icon-menu-dots-v:before {
  content: "\eb01";
}
.icon-menu-dots:before {
  content: "\eb02";
}
.icon-np_menu-button_5961366_000000:before {
  content: "\eb03";
}
.icon-np_menu-button_5961366_0000001:before {
  content: "\eb04";
}
.icon-compare-34:before {
  content: "\ead0";
}
.icon-np_exchange_4676672_000000:before {
  content: "\eaff";
}
.icon-np_exchange_200979_000000:before {
  content: "\eb00";
}
.icon-np_help-chat_4251648_000000:before {
  content: "\eaf9";
}
.icon-np_help_1879099_000000:before {
  content: "\eafb";
}
.icon-np_help_4646176_000000:before {
  content: "\eafc";
}
.icon-np_ask-a-question_5491699_000000:before {
  content: "\eafd";
}
.icon-np_ask-question_1069437_000000:before {
  content: "\eafe";
}
.icon-iconmonstr-shopping-bag-1:before {
  content: "\ead2";
}
.icon-iconmonstr-shopping-bag-2:before {
  content: "\ead3";
}
.icon-iconmonstr-shopping-bag-3:before {
  content: "\eaee";
}
.icon-iconmonstr-shopping-bag-4:before {
  content: "\eaef";
}
.icon-np_bag_1472325_000000:before {
  content: "\eb3d";
}
.icon-iconmonstr-shopping-bag-5:before {
  content: "\eaf0";
}
.icon-iconmonstr-shopping-bag-6:before {
  content: "\eaf1";
}
.icon-iconmonstr-shopping-cart-2:before {
  content: "\eaf2";
}
.icon-iconmonstr-shopping-cart-3:before {
  content: "\eaf4";
}
.icon-iconmonstr-basket-2:before {
  content: "\eaf7";
}
.icon-iconmonstr-basket-4:before {
  content: "\eaf8";
}
.icon-J:before {
  content: "\eac7";
}
.icon-J3 .path1:before {
  content: "\eac8";
  color: rgb(103, 144, 218);
}
.icon-J3 .path2:before {
  content: "\eac9";
  margin-left: -1em;
  color: rgb(13, 82, 214);
}
.icon-J3 .path3:before {
  content: "\eaca";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-J3 .path4:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-J3 .path5:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-J3 .path6:before {
  content: "\eacf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-np_question_680332_000000:before {
  content: "\eaa3";
}
.icon-np_question_2673781_000000:before {
  content: "\eaa4";
}
.icon-np_search_1047226_000000:before {
  content: "\eaa6";
}
.icon-search_np_magnifying-glass_185017_000000:before {
  content: "\eaa8";
}
.icon-np_user_3612569_000000:before {
  content: "\eaa9";
}
.icon-bag-outline:before {
  content: "\e9b7";
}
.icon-user_np_account_4871893_000000:before {
  content: "\eaaa";
}
.icon-np_heart_213424_000000:before {
  content: "\eaab";
}
.icon-user_np_account_4916280_000000:before {
  content: "\eaae";
}
.icon-user_account_2366989_000000:before {
  content: "\eab1";
}
.icon-np_love-circle_610390_000000:before {
  content: "\eab2";
}
.icon-np_user_794230_000000:before {
  content: "\eab3";
}
.icon-bag-outline-fill:before {
  content: "\eabc";
}
.icon-bag-outline-fill-2:before {
  content: "\eac1";
}
.icon-user_np_account_1688912_000000:before {
  content: "\eab4";
}
.icon-np_heart_1064374_000000:before {
  content: "\eab5";
}
.icon-np_sync_1628415_000000:before {
  content: "\e90c";
}
.icon-np_search_1355726_000000:before {
  content: "\eaa5";
}
.icon-np_shopping-cart_4073959_000000:before {
  content: "\eac3";
}
.icon-np_shine-heart_4259384_000000:before {
  content: "\eab7";
}
.icon-np_wishlist_3555984_000000:before {
  content: "\eaba";
}
.icon-np_heart_1822351_000000:before {
  content: "\eabd";
}
.icon-np_secure_4270622_000000:before {
  content: "\eabf";
}
.icon-np_secure_3965903_000000:before {
  content: "\eac0";
}
.icon-np_return_1212762_000000:before {
  content: "\eac5";
}
.icon-np_fast-delivery_3396965_000000:before {
  content: "\ea9f";
}
.icon-np_return_3550453_000000:before {
  content: "\eac6";
}
.icon-np_priority_3282496_000000:before {
  content: "\eaa1";
}
.icon-np_fast-shipping_3548908_000000:before {
  content: "\eaa2";
}
.icon-np_images_795189_000000:before {
  content: "\e9c4";
}
.icon-np_images_494426_000000:before {
  content: "\ea9a";
}
.icon-np_images_4612210_000000:before {
  content: "\ea9d";
}
.icon-np_images_1459617_000000:before {
  content: "\ea9e";
}
.icon-haircare_shampoo_1367807_000000:before {
  content: "\ea94";
}
.icon-bath_spa_2780779_000000:before {
  content: "\ea95";
}
.icon-np_spa_2696679_000000:before {
  content: "\ea96";
}
.icon-np_makeup_4326669_000000:before {
  content: "\ea97";
}
.icon-skincare_cosmetics_4235459_000000:before {
  content: "\ea98";
}
.icon-np_perfume_5483005_000000:before {
  content: "\ea99";
}
.icon-np_heart_17448_000000:before {
  content: "\ea93";
}
.icon-black-friday-1:before {
  content: "\ea8a";
}
.icon-bf-2:before {
  content: "\ea89";
}
.icon-np_christmas-discount_4823030_000000:before {
  content: "\ea7d";
}
.icon-np_black-friday-sale_231987_000000:before {
  content: "\ea7e";
}
.icon-np_shopping-bag_4482434_000000:before {
  content: "\ea7f";
}
.icon-np_black-friday-sticker_3645780_000000:before {
  content: "\ea80";
}
.icon-np_discount_5209577_000000:before {
  content: "\ea81";
}
.icon-np_black-friday_2225274_000000:before {
  content: "\ea82";
}
.icon-np_black-friday_3668085_000000:before {
  content: "\ea83";
}
.icon-np_black-friday_2375883_000000:before {
  content: "\ea84";
}
.icon-np_black-friday_5239066_000000:before {
  content: "\ea85";
}
.icon-np_black-friday_5283734_000000:before {
  content: "\ea86";
}
.icon-np_black-friday_2225297_000000:before {
  content: "\ea87";
}
.icon-np_black-friday_2225290_000000:before {
  content: "\ea88";
}
.icon-np_discount_5210816_000000:before {
  content: "\ea69";
}
.icon-np_shopping-discount-label_2894882_000000:before {
  content: "\ea6a";
}
.icon-phone-call:before {
  content: "\eb97";
}
.icon-np_headphone-sale_4984046_000000:before {
  content: "\ea5a";
}
.icon-np_headphone_3527050_000000:before {
  content: "\ea5b";
}
.icon-np_shopping-bag_3619085_000000:before {
  content: "\ea55";
}
.icon-np_shopping-bag_4730904_000000:before {
  content: "\ea56";
}
.icon-np_shopping-bag_4730876_000000:before {
  content: "\ea57";
}
.icon-icon-up-to-20-discount:before {
  content: "\ea5c";
}
.icon-icon-up-to-25-discount:before {
  content: "\ea58";
}
.icon-icon-up-to-30-discount:before {
  content: "\ea5d";
}
.icon-icon-up-to-40-discount:before {
  content: "\ea5e";
}
.icon-icon-up-to-50-discount:before {
  content: "\ea3a";
}
.icon-icon-up-to-60-discount:before {
  content: "\ea5f";
}
.icon-icon-up-to-70-discount:before {
  content: "\ea59";
}
.icon-icon-up-to-75-discount:before {
  content: "\ea60";
}
.icon-np_measure_3092491_000000:before {
  content: "\e9ef";
}
.icon-np_measure_1728632_000000:before {
  content: "\e9f0";
}
.icon-np_measure_3356900_000000:before {
  content: "\e9f1";
}
.icon-np_measure_3478349_000000:before {
  content: "\e9f2";
}
.icon-open_side_menu_21:before {
  content: "\ea76";
}
.icon-np_measuring_1955107_000000:before {
  content: "\e9f3";
}
.icon-np_size_4399926_000000:before {
  content: "\e9f4";
}
.icon-np_size-chart_674927_000000:before {
  content: "\e9fc";
}
.icon-basket-4:before {
  content: "\e9e6";
}
.icon-basket-6:before {
  content: "\e9e7";
}
.icon-iconmonstr-basket-3:before {
  content: "\e9e8";
}
.icon-np_basket_5059542_000000:before {
  content: "\e9e9";
}
.icon-np_basket_4767071_000000:before {
  content: "\e9ea";
}
.icon-np_tote-bag_1667944_000000:before {
  content: "\e9eb";
}
.icon-np_tote-bag_3219289_000000:before {
  content: "\e9ec";
}
.icon-np_bag_3819499_000000:before {
  content: "\e9ed";
}
.icon-np_bag_3873759_000000:before {
  content: "\e9ee";
}
.icon-np_zig-zag_3268843_000000:before {
  content: "\e9db";
}
.icon-np_zig-zag_2696017_000000:before {
  content: "\e9dc";
}
.icon-np_zig-zag_2681815_000000:before {
  content: "\e9dd";
}
.icon-np_divider_857778_000000:before {
  content: "\e9de";
}
.icon-np_decorative-element_1058958_000000:before {
  content: "\e9df";
}
.icon-np_sparkle-line_1781497_000000:before {
  content: "\e9e0";
}
.icon-open_side_menu:before {
  content: "\e9e1";
}
.icon-open_side_menu_3:before {
  content: "\ea77";
}
.icon-open_side_menu_2:before {
  content: "\e9e5";
}
.icon-menu6:before {
  content: "\ea75";
}
.icon-journal-round:before {
  content: "\e9da";
}
.icon-journal1:before {
  content: "\e9d9";
}
.icon-np_check-mark_846681_000000:before {
  content: "\e9cb";
}
.icon-np_check-mark_1591751_000000:before {
  content: "\e9cc";
}
.icon-np_check-mark_1710747_000000:before {
  content: "\e9cd";
}
.icon-np_check-mark_496676_000000:before {
  content: "\e9ce";
}
.icon-np_check-mark_741185_000000:before {
  content: "\e9cf";
}
.icon-np_check-mark_2903506_000000:before {
  content: "\e9d0";
}
.icon-np_checkbox_60245_000000:before {
  content: "\e9d1";
}
.icon-np_checkbox_1238341_000000:before {
  content: "\e9d2";
}
.icon-np_checkbox_3548626_000000:before {
  content: "\e9d3";
}
.icon-np_check_4845571_000000:before {
  content: "\e9d4";
}
.icon-np_check_2967671_000000:before {
  content: "\e9d5";
}
.icon-np_check_4871052_000000:before {
  content: "\e9d6";
}
.icon-np_check_4728432_000000:before {
  content: "\e9d7";
}
.icon-np_check_45889_000000:before {
  content: "\e9d8";
}
.icon-new:before {
  content: "\e9ca";
}
.icon-tag:before {
  content: "\e9bd";
}
.icon-np_voucher_3592872_000000:before {
  content: "\e9c1";
}
.icon-np_razor-blade_3879113_000000:before {
  content: "\e9ac";
}
.icon-np_home-fence_1383196_000000:before {
  content: "\e9ad";
}
.icon-np_beard_542131_000000:before {
  content: "\e9ae";
}
.icon-np_fitness_3351132_000000:before {
  content: "\e9b0";
}
.icon-np_bicycle_4868156_000000:before {
  content: "\e9b5";
}
.icon-np_vehicle_1363137_000000:before {
  content: "\e9b6";
}
.icon-np_home-garden_3722522_000000:before {
  content: "\e9b8";
}
.icon-np_tshirt_3733385_000000:before {
  content: "\e9b9";
}
.icon-np_electronics_2029883_000000:before {
  content: "\e9bb";
}
.icon-np_sale_3606213_000000:before {
  content: "\e98d";
}
.icon-np_sale_3932941_000000:before {
  content: "\e990";
}
.icon-np_sale_4842202_000000:before {
  content: "\e992";
}
.icon-np_sale_3266456_000000:before {
  content: "\e995";
}
.icon-np_sale_4799628_000000:before {
  content: "\e997";
}
.icon-np_sale_3157841_000000:before {
  content: "\e99c";
}
.icon-np_percent_3590590_000000:before {
  content: "\e9a0";
}
.icon-np_percent_3205251_000000:before {
  content: "\e9a5";
}
.icon-youtube-outline:before {
  content: "\e98b";
}
.icon-np_youtube_3641120_000000:before {
  content: "\e98c";
}
.icon-pinterest-click:before {
  content: "\e988";
}
.icon-noun-badge-1333799:before {
  content: "\e975";
}
.icon-noun-star-3910607:before {
  content: "\e95c";
}
.icon-noun-star-2901853:before {
  content: "\e960";
}
.icon-noun-star-1359490:before {
  content: "\e962";
}
.icon-noun-star-3910639:before {
  content: "\e969";
}
.icon-noun-radiant-88227:before {
  content: "\e96a";
}
.icon-np_star_664914_000000:before {
  content: "\e96b";
}
.icon-noun-stamp-547208:before {
  content: "\e96c";
}
.icon-noun-stamps-3772253:before {
  content: "\e970";
}
.icon-noun-badge-1870813:before {
  content: "\e972";
}
.icon-noun-badge-64040:before {
  content: "\e974";
}
.icon-noun-cross-3910611:before {
  content: "\e979";
}
.icon-noun-wave-88231:before {
  content: "\e97c";
}
.icon-noun-obtuse-scalene-88242:before {
  content: "\e97d";
}
.icon-noun-double-variant-88221:before {
  content: "\e983";
}
.icon-noun-quadrilateral-88250:before {
  content: "\e987";
}
.icon-np_gift-wrap_1200854_000000:before {
  content: "\e939";
}
.icon-np_gift_755898_000000:before {
  content: "\e93b";
}
.icon-np_gift-wrap_924292_000000:before {
  content: "\e93d";
}
.icon-np_fast-shipping_1018344_000000:before {
  content: "\e941";
}
.icon-np_fast-shipping_3067501_000000:before {
  content: "\e942";
}
.icon-np_secure_3847426_000000:before {
  content: "\e944";
}
.icon-np_secure_4206078_000000:before {
  content: "\e947";
}
.icon-np_operator_3761957_000000:before {
  content: "\e948";
}
.icon-np_return_3321141_000000:before {
  content: "\e949";
}
.icon-np_return_4206767_000000:before {
  content: "\e94b";
}
.icon-np_return_3880853_000000:before {
  content: "\e94d";
}
.icon-np_return_3377895_000000:before {
  content: "\e94e";
}
.icon-np_space-ship_2498593_000000:before {
  content: "\e94f";
}
.icon-np_free-delivery_3954181_000000:before {
  content: "\e951";
}
.icon-np_free-delivery_1328022_000000:before {
  content: "\e958";
}
.icon-1:before {
  content: "\e935";
}
.icon-2:before {
  content: "\e937";
}
.icon-3:before {
  content: "\e938";
}
.icon-np_family_12224_000000:before {
  content: "\e914";
}
.icon-np_users_1280902_000000:before {
  content: "\e915";
}
.icon-np_users_1280900_000000:before {
  content: "\e917";
}
.icon-wc:before {
  content: "\e918";
}
.icon-np_user-group_1550796_000000:before {
  content: "\e91a";
}
.icon-np_car-dimensions_957953_000000:before {
  content: "\e91c";
}
.icon-np_car-dimensions_957901_000000:before {
  content: "\e91d";
}
.icon-np_bed_4262638_000000:before {
  content: "\e920";
}
.icon-np_bed_4199655_000000:before {
  content: "\e923";
}
.icon-np_motor_1818859_000000:before {
  content: "\e926";
}
.icon-np_pick-up_4456083_000000:before {
  content: "\e927";
}
.icon-np_quote_77746_000000:before {
  content: "\e92a";
}
.icon-np_quote_4574775_000000:before {
  content: "\e92c";
}
.icon-np_5-stars_1117711_000000:before {
  content: "\e934";
}
.icon-np_heart_1888022_000000:before {
  content: "\e907";
}
.icon-np_heart_3318893_000000:before {
  content: "\e908";
}
.icon-np_sync_237753_000000:before {
  content: "\e905";
}
.icon-np_sync_3895649_000000:before {
  content: "\e906";
}
.icon-np_search_2831401_000000:before {
  content: "\e90f";
}
.icon-np_search_875352_000000:before {
  content: "\e910";
}
.icon-np_block_2055290_000000:before {
  content: "\eb39";
}
.icon-cart-6:before {
  content: "\eb3e";
}
.icon-iconmonstr-shopping-cart-26-cart:before {
  content: "\e9f8";
}
.icon-iconmonstr-shopping-cart-23-cart:before {
  content: "\ea0c";
}
.icon-cart5quickbuyfastcheckoutright:before {
  content: "\eb31";
}
.icon-iconmonstr-checkout-8:before {
  content: "\eb2f";
}
.icon-cart5checkoutright:before {
  content: "\eb30";
}
.icon-iconmonstr-shopping-cart-24:before {
  content: "\ea0d";
}
.icon-swap-line:before {
  content: "\ea20";
}
.icon-secure-payment-fill:before {
  content: "\ea21";
}
.icon-swap-fill:before {
  content: "\ea22";
}
.icon-exchange-line:before {
  content: "\ea23";
}
.icon-shopping-bag-fill:before {
  content: "\ea24";
}
.icon-search-2-line:before {
  content: "\e9f5";
}
.icon-repeat-2-line:before {
  content: "\e9f6";
}
.icon-heart-add-line:before {
  content: "\e9f7";
}
.icon-archive-drawer-line:before {
  content: "\e9f9";
}
.icon-article-line:before {
  content: "\e9fa";
}
.icon-draft-line:before {
  content: "\e9fb";
}
.icon-user-line:before {
  content: "\e9fe";
}
.icon-user-edit:before {
  content: "\e9ff";
}
.icon-user-unfollow-line:before {
  content: "\ea00";
}
.icon-user-shared-line:before {
  content: "\ea01";
}
.icon-user-received-line:before {
  content: "\ea02";
}
.icon-user-add-line:before {
  content: "\ea03";
}
.icon-user-heart-line:before {
  content: "\ea04";
}
.icon-user-settings-line:before {
  content: "\ea05";
}
.icon-group-line:before {
  content: "\ea06";
}
.icon-delete-bin-6-line:before {
  content: "\ea08";
}
.icon-delete-bin-2-line:before {
  content: "\ea09";
}
.icon-delete-bin-line:before {
  content: "\ea0a";
}
.icon-book-mark-fill:before {
  content: "\ea0b";
}
.icon-ancient-pavilion-line-asian:before {
  content: "\ea0e";
}
.icon-hourglass-bg:before {
  content: "\ea27";
}
.icon-hourglass-bg-round:before {
  content: "\ea28";
}
.icon-load-spin4:before {
  content: "\ea26";
}
.icon-spinner-22:before {
  content: "\ea25";
}
.icon-spinner-12:before {
  content: "\ea2b";
}
.icon-loader-5-line:before {
  content: "\ea10";
}
.icon-arrow-left-right-line:before {
  content: "\ea11";
}
.icon-restart-line:before {
  content: "\ea12";
}
.icon-refresh-fill:before {
  content: "\ea13";
}
.icon-arrow-right-circle-line:before {
  content: "\ea14";
}
.icon-arrow-up-circle-line:before {
  content: "\ea15";
}
.icon-arrow-left-circle-line:before {
  content: "\ea16";
}
.icon-arrow-down-circle-line:before {
  content: "\ea17";
}
.icon-refresh-line:before {
  content: "\ea19";
}
.icon-scales-fill:before {
  content: "\ea1a";
}
.icon-arrow-go-back-line:before {
  content: "\ea1b";
}
.icon-enter-down-in:before {
  content: "\ea1c";
}
.icon-enter-door-down-in:before {
  content: "\ea1d";
}
.icon-more-fill-dots:before {
  content: "\ea1e";
}
.icon-more-2-fill-dots:before {
  content: "\ea1f";
}
.icon-swap-box-fill:before {
  content: "\ea2c";
}
.icon-calendar-line:before {
  content: "\ea2d";
}
.icon-message-2-fill:before {
  content: "\ea2e";
}
.icon-window-fill:before {
  content: "\ea2f";
}
.icon-file-list-3-fill:before {
  content: "\ea30";
}
.icon-file-list-3-line:before {
  content: "\ea31";
}
.icon-stars-win:before {
  content: "\e9c2";
}
.icon-noun_question_help_629634_000000:before {
  content: "\e9be";
}
.icon-iconmonstr-crown-1:before {
  content: "\e999";
}
.icon-iconmonstr-quote-7:before {
  content: "\e98f";
}
.icon-noun_888682-blog:before {
  content: "\e946";
}
.icon-iconmonstr-rocket-20-rocket:before {
  content: "\e989";
}
.icon-iconmonstr-time-8:before {
  content: "\e943";
}
.icon-iconmonstr-diamond-11-ring-jewel:before {
  content: "\e984";
}
.icon-iconmonstr-police-9:before {
  content: "\e97f";
}
.icon-iconmonstr-police-10:before {
  content: "\e980";
}
.icon-iconmonstr-delivery-8-support:before {
  content: "\e922";
}
.icon-iconmonstr-delivery-9-support:before {
  content: "\e924";
}
.icon-iconmonstr-medal-10-badge:before {
  content: "\e953";
}
.icon-iconmonstr-award-23-badge:before {
  content: "\e97e";
}
.icon-noun_89836_cc-grid-list:before {
  content: "\e97a";
}
.icon-noun_392251_cc:before {
  content: "\e97b";
}
.icon-iconmonstr-view-10-grid-list:before {
  content: "\e96e";
}
.icon-noun_829089_cc-appliance:before {
  content: "\e977";
}
.icon-noun_889859_cc-furniture:before {
  content: "\e966";
}
.icon-noun_971876_cc-beauty-makeup:before {
  content: "\e971";
}
.icon-noun_1615093_cc-food:before {
  content: "\e973";
}
.icon-iconmonstr-id-card-8:before {
  content: "\e956";
}
.icon-iconmonstr-coin-7:before {
  content: "\e952";
}
.icon-heart-edit-wish2:before {
  content: "\e955";
}
.icon-users-edit:before {
  content: "\e95a";
}
.icon-code-tracking-search:before {
  content: "\e93c";
}
.icon-iconmonstr-undo-4:before {
  content: "\e94a";
}
.icon-mail2:before {
  content: "\e95b";
}
.icon-iconmonstr-email-1:before {
  content: "\e94c";
}
.icon-cards:before {
  content: "\e950";
}
.icon-cards3:before {
  content: "\e95e";
}
.icon-iconmonstr-star-6:before {
  content: "\e993";
}
.icon-iconmonstr-star-7:before {
  content: "\e994";
}
.icon-arrow:before {
  content: "\e93e";
}
.icon-arrow2:before {
  content: "\e93f";
}
.icon-arrow_begin_first:before {
  content: "\e940";
}
.icon-arrow4:before {
  content: "\e945";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-navigate_up:before {
  content: "\e40a";
}
.icon-navigate_down:before {
  content: "\e40b";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-iconmonstr-loading-1:before {
  content: "\e92e";
}
.icon-uniE92F:before {
  content: "\e92f";
}
.icon-iconmonstr-loading-3:before {
  content: "\e929";
}
.icon-noun_1058874_cc_filter:before {
  content: "\e919";
}
.icon-iconmonstr-instagram-13:before {
  content: "\e90e";
}
.icon-block:before {
  content: "\e14b";
}
.icon-brightness_1:before {
  content: "\e3a6";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-close2:before {
  content: "\e5cd";
}
.icon-ruler-size-chart-noun:before {
  content: "\e3e2";
}
.icon-restore:before {
  content: "\e8b3";
}
.icon-home2:before {
  content: "\e88a";
}
.icon-important_devices:before {
  content: "\eaf3";
}
.icon-laptop_windows:before {
  content: "\e321";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-monetization_on:before {
  content: "\e263";
}
.icon-new_releases:before {
  content: "\e031";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-subject:before {
  content: "\e8d2";
}
.icon-view_carousel-grid-list:before {
  content: "\e8eb";
}
.icon-alert-circle:before {
  content: "\eafa";
}
.icon-box:before {
  content: "\eb15";
}
.icon-check3:before {
  content: "\eb1b";
}
.icon-chevrons-down:before {
  content: "\eb22";
}
.icon-chevrons-left:before {
  content: "\eb23";
}
.icon-clock:before {
  content: "\eb29";
}
.icon-download-cloud:before {
  content: "\eb4e";
}
.icon-external-link2:before {
  content: "\eb53";
}
.icon-eye2:before {
  content: "\eb54";
}
.icon-facebook2:before {
  content: "\eb56";
}
.icon-heart2:before {
  content: "\eb67";
}
.icon-home3:before {
  content: "\eb69";
}
.icon-instagram2:before {
  content: "\eb6d";
}
.icon-loader:before {
  content: "\eb75";
}
.icon-mail:before {
  content: "\eb79";
}
.icon-map-pin2:before {
  content: "\eb7b";
}
.icon-menu2:before {
  content: "\eb7e";
}
.icon-minus2:before {
  content: "\eb85";
}
.icon-minus-circle2:before {
  content: "\eb86";
}
.icon-minus-square2:before {
  content: "\eb87";
}
.icon-plus2:before {
  content: "\eba0";
}
.icon-plus-circle2:before {
  content: "\eba1";
}
.icon-plus-square2:before {
  content: "\eba2";
}
.icon-refresh-ccw:before {
  content: "\eba7";
}
.icon-search3:before {
  content: "\ebaf";
}
.icon-shopping-cart2:before {
  content: "\ebb5";
}
.icon-twitter2:before {
  content: "\ebd3";
}
.icon-upload2:before {
  content: "\ebd8";
}
.icon-user2:before {
  content: "\ebda";
}
.icon-x:before {
  content: "\ebeb";
}
.icon-zoom-in:before {
  content: "\ebef";
}
.icon-zoom-out:before {
  content: "\ebf0";
}
.icon-np_quote_3378162_000000:before {
  content: "\eb3a";
}
.icon-np_quote_5934867_000000:before {
  content: "\eb3b";
}
.icon-np_sparkles_3416935_000000:before {
  content: "\eb27";
}
.icon-celebrate-fireworks:before {
  content: "\eb28";
}
.icon-np_celebrate_5443919_000000:before {
  content: "\eb2a";
}
.icon-celebrate-toast-31:before {
  content: "\eb2d";
}
.icon-celebrate-toast-glasses:before {
  content: "\eb2b";
}
.icon-celebrate-toast-3:before {
  content: "\eb2e";
}
.icon-np_new-years-eve_783364_000000:before {
  content: "\eb2c";
}
.icon-return:before {
  content: "\ea66";
}
.icon-secure-2:before {
  content: "\eabe";
}
.icon-np_check_3056932_000000:before {
  content: "\eb24";
}
.icon-np_check_1743877_000000:before {
  content: "\eb25";
}
.icon-np_check_6370190_000000:before {
  content: "\eb26";
}
.icon-tiktok:before {
  content: "\eaec";
}
.icon-x-twitter:before {
  content: "\eaed";
}
.icon-np_color-palette_1637401_000000:before {
  content: "\ead1";
}
.icon-CaretUp:before {
  content: "\ead6";
}
.icon-CaretRight:before {
  content: "\ead7";
}
.icon-CaretLeft:before {
  content: "\eada";
}
.icon-CaretDown:before {
  content: "\eadb";
}
.icon-CaretCircleUp:before {
  content: "\eadd";
}
.icon-ArrowRight:before {
  content: "\eade";
}
.icon-CaretCircleDown:before {
  content: "\eadf";
}
.icon-CaretCircleLeft:before {
  content: "\eae0";
}
.icon-CaretCircleRight:before {
  content: "\eae1";
}
.icon-ArrowLeft-1:before {
  content: "\eae2";
}
.icon-ArrowLeft:before {
  content: "\eae4";
}
.icon-ArrowRight-1:before {
  content: "\eae5";
}
.icon-ArrowCircleUp:before {
  content: "\eae6";
}
.icon-ArrowCircleRight:before {
  content: "\eae7";
}
.icon-ArrowCircleLeft:before {
  content: "\eae8";
}
.icon-ArrowCircleDown:before {
  content: "\eae9";
}
.icon-ArrowBendUpRight:before {
  content: "\eaea";
}
.icon-ArrowBendUpLeft:before {
  content: "\eaeb";
}
.icon-one-outline:before {
  content: "\ea8c";
}
.icon-two-outline:before {
  content: "\ea8d";
}
.icon-three-outline:before {
  content: "\ea8e";
}
.icon-one:before {
  content: "\ea8f";
}
.icon-two:before {
  content: "\ea90";
}
.icon-three:before {
  content: "\ea91";
}
.icon-np_question_4146338_000000:before {
  content: "\ea7a";
}
.icon-np_faq_545270_000000:before {
  content: "\ea7b";
}
.icon-np_faq_5175288_000000:before {
  content: "\ea7c";
}
.icon-np_details_2057790_000000:before {
  content: "\ea78";
}
.icon-np_menu_865935_000000:before {
  content: "\ea79";
}
.icon-np_hamburger-menu_4213509_000000:before {
  content: "\ea6b";
}
.icon-np_hamburger-menu_4164257_000000:before {
  content: "\ea6c";
}
.icon-np_menu_1673092_000000:before {
  content: "\ea6d";
}
.icon-np_add-category_3846796_000000:before {
  content: "\ea6e";
}
.icon-np_add_3935190_000000:before {
  content: "\ea6f";
}
.icon-np_subcategory_929019_000000:before {
  content: "\ea70";
}
.icon-np_category_3843886_000000:before {
  content: "\ea71";
}
.icon-np_category_2183622_000000:before {
  content: "\ea72";
}
.icon-np_options_4876543_000000:before {
  content: "\ea73";
}
.icon-np_categories_3893377_000000:before {
  content: "\ea74";
}
.icon-np_customer-support_2502976_000000:before {
  content: "\ea65";
}
.icon-np_payment-security_2742096_000000:before {
  content: "\ea67";
}
.icon-np_global-delivery_4915947_000000:before {
  content: "\ea61";
}
.icon-np_global-shipping_1577317_000000:before {
  content: "\ea62";
}
.icon-np_global-shipping_1577308_000000:before {
  content: "\eb32";
}
.icon-np_email_5230114_000000:before {
  content: "\ea68";
}
.icon-np_ship_234521_000000:before {
  content: "\ea63";
}
.icon-np_shipping_2027288_000000:before {
  content: "\ea64";
}
.icon-news_newspaper_140566_000000:before {
  content: "\ea4e";
}
.icon-np_crown_5251231_000000:before {
  content: "\ea50";
}
.icon-np_king_2915711_000000:before {
  content: "\ea51";
}
.icon-np_fresh_3203073_000000:before {
  content: "\ea52";
}
.icon-np_fresh_3826079_000000:before {
  content: "\ea53";
}
.icon-np_fresh_3203065_000000:before {
  content: "\ea54";
}
.icon-np_stars_4158729_000000:before {
  content: "\ea4d";
}
.icon-np_stars_3107632_000000:before {
  content: "\ea4f";
}
.icon-np_scroll-horizontal_3271640_000000:before {
  content: "\ea3b";
}
.icon-np_scroll-horizontal_3271640_0000001:before {
  content: "\ea3d";
}
.icon-np_scroll_393053_000000:before {
  content: "\ea3e";
}
.icon-np_scroll_393053_0000001:before {
  content: "\ea3f";
}
.icon-np_mouse-scroll_815371_000000:before {
  content: "\ea43";
}
.icon-np_scroll-down_3134509_000000:before {
  content: "\ea44";
}
.icon-np_scroll-down_1216060_000000:before {
  content: "\ea45";
}
.icon-np_horizontal-swipe_1127798_000000:before {
  content: "\ea46";
}
.icon-drag-scroll-2:before {
  content: "\ea47";
}
.icon-drag-scroll:before {
  content: "\ea48";
}
.icon-np_info_91726_000000:before {
  content: "\ea49";
}
.icon-np_info_200096_000000:before {
  content: "\ea4a";
}
.icon-np_info_3126147_000000:before {
  content: "\ea4b";
}
.icon-np_info_2262850_000000:before {
  content: "\ea4c";
}
.icon-back-home:before {
  content: "\ea3c";
}
.icon-np_back-home_1834041_000000:before {
  content: "\ea39";
}
.icon-np_play_1828973_000000:before {
  content: "\ea40";
}
.icon-np_play_2729465_000000:before {
  content: "\ea41";
}
.icon-np_play_5238022_000000:before {
  content: "\ea42";
}
.icon-np_caret_650685_000000:before {
  content: "\e9fd";
}
.icon-np_caret_650685_0000001:before {
  content: "\ea07";
}
.icon-np_caret_650685_0000002:before {
  content: "\ea0f";
}
.icon-np_caret_650685_0000003:before {
  content: "\ea29";
}
.icon-np_caret_2519158_000000:before {
  content: "\ea2a";
}
.icon-np_caret_2519158_0000001:before {
  content: "\ea32";
}
.icon-np_caret_2519158_0000002:before {
  content: "\ea33";
}
.icon-np_caret_2519158_0000003:before {
  content: "\ea34";
}
.icon-np_arrow_688111_000000:before {
  content: "\ea35";
}
.icon-np_arrow_688111_0000001:before {
  content: "\ea36";
}
.icon-np_arrow_688111_0000002:before {
  content: "\ea37";
}
.icon-np_arrow_688111_0000003:before {
  content: "\ea38";
}
.icon-np_close_2555013_000000:before {
  content: "\e9c3";
}
.icon-np_close_721755_000000:before {
  content: "\e9c5";
}
.icon-np_close_702609_000000:before {
  content: "\e9c6";
}
.icon-np_close_2068315_000000:before {
  content: "\e9c7";
}
.icon-np_close_2613413_000000:before {
  content: "\e9c8";
}
.icon-np_close_2389681_000000:before {
  content: "\e9c9";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-user:before {
  content: "\f007";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-comment:before {
  content: "\f075";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-twitter3:before {
  content: "\f099";
}
.icon-facebook3:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-linkedin2:before {
  content: "\f0e1";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down-arrow:before {
  content: "\f107";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-youtube2:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram3:before {
  content: "\f16d";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple2:before {
  content: "\f179";
}
.icon-skype2:before {
  content: "\f17e";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-google2:before {
  content: "\f1a0";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-life-buoy:before {
  content: "\f1cd";
}
.icon-life-ring:before {
  content: "\f1cd";
}
.icon-life-saver:before {
  content: "\f1cd";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-whatsapp2:before {
  content: "\f232";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
