<fieldset>
  <legend>{{ text_captcha }}</legend>
  <div class="form-group mb-3 required">
    <label for="input-captcha" class="form-label">{{ entry_captcha }}</label> <input type="text" name="captcha" value="" id="input-captcha" class="form-control mb-1"/>
    <div id="captcha">
      <img src="index.php?route=extension/opencart/captcha/basic{{ constant('JOURNAL3_ROUTE_SEPARATOR') }}captcha" alt=""/>
    </div>
    <div id="error-captcha" class="invalid-feedback"></div>
  </div>
</fieldset>
