{#
    $Project: CSV Product Import $
    $Author: karapuz team <support@ka-station.com> $
    $Version: 6.0.0.2 $ ($Revision: 572 $)
#}

{{ parent() }}

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">{{ t('Skip Import') }}</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <div id="input-skip_import" class="form-check form-switch form-switch-lg">
                        <input type="checkbox" name="skip_import" value="1" class="form-check-input"
                        	{% if skip_import %} checked="checked" {% endif %}
                        />
                      </div>
                      {% if master_id %}
                        <div class="input-group-text">
                          <div class="form-check form-switch">
                            <input type="checkbox" name="override[skip_import]" value="1" 
                            	id="input-variant-skip_import" data-oc-toggle="switch" 
                            	data-oc-target="#input-skip_import" 
                            	class="form-check-input"{% if override.skip_import %} checked{% endif %}/>
                            <label for="input-variant-skip_import" class="form-check-label"></label>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                    <div class="form-text">{{ t('Set this checkbox for products which should not be affected by <a target="_blank" href="%link%">CSV Product Import</a> extension')|replace({'%link%': ka_product_import_link }) }}</div>
                  </div>
                </div>