{#
	PARAMS
	field.code  - field code (only a-z,0-9_)
	field.title - field title
	field.name  - field.name (can be an array value like products[123])
	field.value - field value
	field.required -
	field.error - error
#}
{% extends '@ka_common/fields/template.twig' %}

{% block field_value %}
	<div class="form-control" style="max-height: 150px; overflow: auto;">
		{% for ok, ov in field.options %}
		  <div class="form-check">
	      <input type="checkbox" 
	      	name="{% if field.name %}{{ field.name }}{% else %}{{ field.code }}{% endif %}[]" 
	      	value="{{ ok }}" 
	      	{% if ok in field.value %} checked="checked" {% endif %}
	      	class="form-check-input"
	      />
		    <label>{{ ov }}</label>
		  </div>
	  {% endfor %}
	</div>
{% endblock %}