{#
	PARAMS
	field.code  - field code (only a-z,0-9_)
	field.title - field title
	field.name  - field.name (can be an array value like products[123])
	field.value - field value
	field.required -
	field.error - error
#}
{% extends '@ka_common/fields/template.twig' %}

{% block field_value %}

            	{% for k,v in field.options %}
								<label class="radio-inline">	              	
                <input {% if field.required %} required {% endif %} type="radio" name="{% if field.name %}{{ field.name }}{% else %}{{ field.code }}{% endif %}" value="{{ k }}" 
                  	{% if field.value == k %} checked="checked" {% endif %}
                  />
                  {{ v }}</label>
              {% endfor %}
{% endblock %}